.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(68deg, #298841, #0d226a, 150%, #793434);

}

.auth-form-container, .sign-form, .signup-form, .link-btn {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.radio-group {
  display: inline;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

label {
  text-align: left;
  padding: 0.5rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 5px;
  border: none;
}

button {
  border: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 1rem;
  margin-top: 0.9rem;
  color: #7439db;
}

.weight-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
  align-self: center;
  align-content: center;
  justify-content: center;
}

.weight-item {
  padding-right: 60px;
}

.delete-btn {
  padding: 4px;
}
.small-text {
  color: red;
  font-size: 15px;
}

